################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/AdventOfCode2022/Day1/advent_of_code_1_input_large.txt
**/bin
**/obj
